header#logo {
  margin-top: 20vh;
  /* padding-top: 4.75rem; */

  margin-inline: auto;
  width: 69rem;
  display: flex;

  & img {
    margin-right: .6875rem;
  }
}

main {
  margin-top: 2.875rem;
  margin-inline: auto;

  width: 100vw;
  justify-content: center;
  align-items: center;

  display: flex;
  gap: 6.75rem;

  & .hider {
    display: none;
  }

  & .info {
    width: 32rem;
    height: 25.75rem;

    & .overline {
      font: var(--overline);
      margin-bottom: .75rem;
    }

    & .bg-title {
      font: var(--display-lg);
      text-transform: uppercase;
      color: var(--content-primary);

      margin-bottom: 2.375rem;
    }

    & .question-wrapper {
      display: flex;
      width: 31.75rem;

      & svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      & .question-controller {
        display: block;
        margin-left: .5rem;

        width: 24.125rem;
        height: 3.5625rem;

        & .question {
          font: var(--paragraph-md);
        }

        & .response {
          font: var(--paragraph-sm);
        }
      }
    }

    & .question-wrapper + .question-wrapper {
      margin-top: 2.25rem;
    }
  }

  & #sorter {
    width: 30.12rem;
    height: 18.375rem;
    margin-block: 3.6875rem;

    & div {
      & h3 {
        font: var(--paragraph-lg);
        text-transform: uppercase;
        color: var(--content-primary);
      }
    }

    & #config {
      margin-top: 2.5rem;

      & .config-container {
        display: flex;
        gap: .75rem;

        & label {
          border: none;

          & .identifier {
            font: var(--label-sm);

            margin-bottom: .5rem;
            text-align: center;
          }

          & .number-container {
            width: 5.375rem;
            height: 3.5rem;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & .numbers {
              width: 5.25rem;
              height: 3.375rem;
              background-color: var(--background-secondary);
              border-radius: .5rem;

              font: var(--display-sm);
              font-weight: 800;
              color: var(--content-primary);
              text-align: center;
            }
          }

          & .number-container:hover {
            width: 5.375rem;
            height: 3.5rem;
            background: var(--gradient-border);
            background-size: 300% 300%;
            animation: gradientShift 2.5s linear infinite;

          }

          & .number-container:has(input:focus) {
            width: 5.375rem;
            height: 3.5rem;
            background: var(--gradient-border);
            background-size: 300% 300%;
            animation: gradientShift 2.5s linear infinite;

            & .numbers {
              width: 5.125rem;
              height: 3.25rem;
            }

            & .numbers::placeholder {
              opacity: 0;
            }
          }
        }

        & label:hover {
          & .identifier {
            color: var(--content-brand);
            transition: all ease .3s;
          }
        }

        & label:has(input:focus) {
          & .identifier {
            color: var(--content-brand);
          }
        }
      }

      & #checkbox-container {
        margin-top: 1.3125rem;
        gap: .5rem;

        display: flex;

        & .checkbox-wrapper {
          display: flex;
          width: 1.875rem;
          height: 1.25rem;
          background-color: var(--content-tertiary);
          padding-block: .1875rem;
          border-radius: 1rem;


          & .slider-circle {
            background-color: var(--content-primary);
            width: .875rem;
            height: .875rem;
            border-radius: 100%;
            margin-inline: .1875rem .8125rem;
          }

          & input {
            display: none;
          }

          & input:checked+.slider-circle {
            margin-inline: .8125rem .1875rem;
            transition: ease .3s;
          }

          & input+.slider-circle {
            transition: ease .3s;
          }
        }

        & .checkbox-wrapper:has(input:checked) {
          background: var(--gradient-background);

        }
      }

      & .button-container {
        display: flex;
        width: 30.12rem;
        height: 3.5rem;

        user-select: none;

        padding-block: 1rem;
        margin-top: 2.5rem;

        background-color: var(--background-tertiary);
        border-radius: .5rem;

        & .button {
          margin-inline: auto;
          display: flex;
          align-items: center;

          color: var(--content-primary);
          stroke: var(--content-primary);

          & p {
            font: var(--label-md);
          }

          & img {
            margin-left: .5rem;

            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      & .button-container:hover {
        background-color: var(--background-secondary);
        background: var(--gradient-border);
        background-size: 300% 300%;
        animation: gradientShift 2.5s linear infinite;

        justify-content: center;
        align-items: center;

        & .button {
          width: 29.875rem;
          height: 3.25rem;
          border-radius: .5rem;
          background: var(--background-secondary);

          display: flex;
          justify-content: center;
          align-items: center;
          padding-inline: auto;

          & img {
            animation: moveRight 2.4s ease-in-out infinite;
            position: relative;
          }
        }
      }
    }
  }

  & #result-sec {
    width: 30.12rem;
    max-height: 18.375rem;
    margin-block: 3.6875rem;

    & #resTitle {
      display: grid;
      justify-content: center;
      align-items: center;

      & h3 {
        font: var(--paragraph-lg);
        text-transform: uppercase;
        color: var(--content-primary);
      }

      & p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & #results-wrap {
      & #results {
        gap: .95rem;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 2.5rem;

        flex-wrap: wrap;

        max-height: 11.4375rem;
        height: 11.4375rem;

        & span {
          opacity: 0;
          color: transparent;
        }

        & .lg-res {
          width: 6.25rem;
          height: 6.25rem;

          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 1.75rem;

          font: 700 4rem/1.5 var(--roboto-mono);

          opacity: 1;
        }

        & .res-bl-txt {
          color: #030203;
        }

        & .resHide {
          opacity: 0;
          transition: all 0.3s ease;
          transform: scale(.5);
        }

        & .resAppear {
          transition: all 0.3s ease;
          transform: scale(1);
          background-color: var(--content-brand);
        }

        & .resNum {
          position: relative;
          z-index: 1;

          transition: all 0.3s ease;
          transform: scale(1);
        }

        & .resNum::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: var(--content-brand);
          border-radius: inherit;
          z-index: -1;
        }

        & .resRoll::before {
          animation: roll 1s linear;
          transition: opacity 0.3s ease; 
        }

        & .resNum.active {
          color: var(--content-brand);
          font: 700 3rem/1.5 var(--roboto-mono);
          background-color: transparent;

          width: 5.25rem;
          height: 5.25rem;

          transform: scale(.8);
        }

        & .active::before {
          animation: none;
          opacity: 0;
        }
      }

      & #results.unlock-scroll {
        overflow-y: auto;
      }

      & .button-container-up {
        transform: translateY(6.25rem);
      }

      & .button-container {
        display: flex;
        width: 30.12rem;
        height: 3.5rem;

        user-select: none;

        padding-block: 1rem;
        margin-top: 2rem;

        background-color: var(--background-tertiary);
        border-radius: .5rem;
        opacity: 0;

        transition: ease .2s;
        
        &.button-show {
          opacity: 1
        }

        & .button {
          margin-inline: auto;
          display: flex;
          align-items: center;

          color: var(--content-primary);
          stroke: var(--content-primary);

          & p {
            font: var(--label-md);
          }

          & img {
            margin-left: .5rem;

            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      & .button-container:hover {
        background-color: var(--background-secondary);
        background: var(--gradient-border);
        background-size: 300% 300%;
        animation: gradientShift 2.5s linear infinite;

        justify-content: center;
        align-items: center;

        & .button {
          width: 29.875rem;
          height: 3.25rem;
          border-radius: .5rem;
          background: var(--background-secondary);

          display: flex;
          justify-content: center;
          align-items: center;
          padding-inline: auto;

          & img {
            animation: moveRight 2.4s ease-in-out infinite;
            position: relative;
          }
        }
      }
    }
  }
}

@media (width < 80em) {
  header#logo {
    width: 10.75rem;
    display: flex;
    margin-inline: auto;
    gap: 1px;

    margin-top: 2.75rem;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .info {
      width: 19.9375rem;
      height: 8.5rem;

      & .overline {
        font: var(--overline);
        margin-bottom: .75rem;
      }

      & .bg-title {
        font: var(--display-md);
        margin-bottom: 2.625rem;
      }

      & .question-wrapper {
        display: flex;
        width: 19.9375rem;

        & svg {
          width: 1.25rem;
          height: 1.25rem;
        }

        & .question-controller {
          display: block;
          margin-left: .5rem;

          width: 19.9375rem;
          height: 4.6875rem;

          & .question {
            font: var(--paragraph-md);
          }

          & .response {
            font: var(--paragraph-sm);
          }
        }
      }
    }

    & #sorter {
      width: 19.9375rem;
      margin-block: 3.6875rem;

      & div {
        & h3 {
          font: var(--paragraph-lg);
          text-transform: uppercase;
          color: var(--content-primary);
        }
      }

      & #config {
        margin-top: 2.5rem;

        & .config-container {
          display: flex;
          gap: .75rem;

          & label {
            border: none;

            & .identifier {
              font: var(--label-sm);

              margin-bottom: .5rem;
              text-align: center;
            }

            & .number-container {
              width: 5.375rem;
              height: 3.5rem;
              border-radius: .5rem;
              display: flex;
              justify-content: center;
              align-items: center;

              & .numbers {
                width: 5.25rem;
                height: 3.375rem;
                background-color: var(--background-secondary);
                border-radius: .5rem;

                font: var(--display-sm);
                font-weight: 800;
                color: var(--content-primary);
                text-align: center;
              }
            }

            & .number-container:hover {
              width: 5.375rem;
              height: 3.5rem;
              background: var(--gradient-border);
              background-size: 300% 300%;
              animation: gradientShift 2.5s linear infinite;

            }

            & .number-container:has(input:focus) {
              width: 5.375rem;
              height: 3.5rem;
              background: var(--gradient-border);
              background-size: 300% 300%;
              animation: gradientShift 2.5s linear infinite;

              & .numbers {
                width: 5.125rem;
                height: 3.25rem;
              }

              & .numbers::placeholder {
                opacity: 0;
              }
            }
          }

          & label:hover {
            & .identifier {
              color: var(--content-brand);
              transition: all ease .3s;
            }
          }

          & label:has(input:focus) {
            & .identifier {
              color: var(--content-brand);
            }
          }
        }

        & #checkbox-container {
          margin-top: 1.25rem;
        }

        & .button-container {
          width: 19.875rem;
        }

        & .button-container:hover {
          & .button {
            width: 19.625rem;
          }
        }
      }
    }

    & #result-sec {
      width: 19.9375rem;

      & #results-wrap { 
        & #results {
          gap: 1rem;

          max-height: 11.5rem;
          height: 11.5rem;

          & .lg-res {
            width: 5.25rem;
            height: 5.25rem;
          }
        }

        & .button-container {
          width: 19.875rem;
        }

        & .button-container:hover {
          & .button {
            width: 19.625rem;
          }
        }
      }
    }

    & #result-sec + .info{
      margin-top: 4.75rem;
    }

  }
}